<div class="uploader-wrap" [attr.data-variant]="colorVariant">
  <div
    class="uploader"
    [class.dragging]="dragging"
    [class.has-file]="tieneArchivoEnBadge()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">
    <span class="uploader__rail" aria-hidden="true"></span>

    <div class="uploader__inner">
      <header class="uploader__head" *ngIf="label">
        <span class="uploader-doc-label" [ngClass]="labelColorClass()">{{ label }}</span>
      </header>

      <div class="uploader__drop">
        <div class="uploader__icon" aria-hidden="true">
          <i *ngIf="esIconoFontAwesome(); else matIcon" class="fa uploader__icon-fa" [ngClass]="icon"></i>
          <ng-template #matIcon>
            <mat-icon>{{ icon }}</mat-icon>
          </ng-template>
        </div>

        <div class="uploader__copy">
          <h5 class="uploader__title">{{ uploadTitle }}</h5>
          <p class="uploader__subtitle">Arrastra y suelta aquí o</p>
        </div>

        <div class="uploader__cta">
          <button mat-flat-button color="primary" type="button" (click)="openFilePicker()">
            Seleccionar archivo
          </button>
          <button
            *ngIf="tieneArchivoEnBadge() && urlVistaPrevia()"
            type="button"
            class="uploader__badge uploader__badge--file"
            [ngClass]="badgeFileColorClass()"
            [title]="etiquetaBadge()"
            (click)="onBadgeClick($event)">
            {{ etiquetaBadge() }}
          </button>
          <span
            *ngIf="!tieneArchivoEnBadge() || !urlVistaPrevia()"
            class="uploader__badge"
            [title]="etiquetaBadge()">
            {{ etiquetaBadge() }}
          </span>
        </div>
      </div>
    </div>

    <input
      #fileInput
      type="file"
      [accept]="acceptImagenPdf"
      (change)="onFileSelected($event)"
      class="uploader__input" />
  </div>
</div>
